<section class="block container block-domain">
	<header class="block__header">
		<h2 class="block__heading">Heading of Domain Block</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
			vitae!
		</p>
	</header>
	<div class="input-group">
		<input type="text" class="input" placeholder="Enter domain name here..." />
		<button class="btn btn--accent">
			<svg class="icon icon--white">
				<use xlink:href="./images/sprite.svg#search"></use>
			</svg>
			Text
		</button>
	</div>
	<ul class="list block-domain__prices">
		<li>Item 1</li>
		<li><span class="badge badge--secondary">Item 2</span></li>
		<li>Item 3</li>
		<li>Item 4</li>
		<li>Item 5</li>
		<li>Item 6</li>
	</ul>
</section>
