<!-- 
  TODO: 
    - For block components maximum-width is 1140px.
    - To apply this we created container class. 
    - But there is catch while applying container class.
    - In Case of Block Components - Dark if we applied container class then black background also limited till 1140px.
    - To solve this insted of applying container class to section element we will encapsulate block's content in div and apply cotainer class to it.
-->

<!-- Block Component - Light -->
<section class="block container">
	<header class="block__header">
		<h2 class="block__heading">Heading</h2>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
			perferendis.
		</p>
	</header>
	<!-- Sample Card for Testing-->
	<div style="width: 30%; padding: 1rem 1rem">
		<div class="card">
			<header class="card__header">Card Title</header>
			<div class="card__body">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quo.
			</div>
		</div>
	</div>
</section>

<!-- Block Component - Dark -->
<section class="block block--dark">
	<div class="container">
		<header class="block__header">
			<h2 class="block__heading">Heading</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
				perferendis.
			</p>
		</header>
	</div>
</section>

<!-- Block Component - Skewed Left -->
<section class="block block--dark block--skewed-left">
	<div class="container">
		<header class="block__header">
			<h2 class="block__heading">Heading</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
				perferendis.
			</p>
		</header>
	</div>
</section>

<!-- Block Component - Skewed Right -->
<section class="block block--dark block--skewed-right">
	<div class="container">
		<header class="block__header">
			<h2 class="block__heading">Heading</h2>
			<p>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro,
				perferendis.
			</p>
		</header>
	</div>
</section>
