<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Heading 1</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="./images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Heading 2</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="./images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Heading 3</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="./images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </section>

    <section class="collapsible footer__section">
      <div class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Heading 4</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use href="./images/sprite.svg#chevron"></use>
        </svg>
      </div>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
        </ul>
      </div>
    </section>

    <div class="footer__brand">
      <a href="/" class="footer__logo"
        ><img src="./images/logo.svg" alt="Moshify Logo"
      /></a>
      <p class="footer__copyright">Copyright &copy; by Mosh&nbsp;Hamedani</p>
    </div>
  </div>
</footer>
