<!-- 
  FIXME: 
  - Container around card is added for testing purpose. 
  - We don't use such inline styles in production. 
  - So contreate card-container and apply css using extral stylesheets
-->

<!-- Card Outline -->
<div style="width: 30%; padding: 0 1rem">
	<div class="card">
		<header class="card__header">Card Title</header>
		<div class="card__body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quo.
		</div>
	</div>
</div>

<!-- Card Primary -->
<div style="width: 30%; padding: 0 1rem">
	<div class="card card--primary">
		<header class="card__header">Card Title</header>
		<div class="card__body">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quo.
		</div>
	</div>
</div>

<!-- Card Secondary -->
<div class="card card--secondary">
	<header class="card__header">Card Title</header>
	<div class="card__body">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, quo.
	</div>
</div>
