<!-- 
  TODO:
    - To Animate This Collapsible Component we need to use JavaScript.
    - Using JavaScript we will inject or remove (i.e. toggle) class named collaspible--expanded.
 -->

<div class="collapsible collapsible--expanded">
	<header class="collapsible__header">
		<h2 class="collapsible__heading">Heading</h2>
		<svg class="icon icon--white collapsible__chevron">
			<use xlink:href="./images/sprite.svg#chevron"></use>
		</svg>
	</header>
	<div class="collapsible__content">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, sit!
	</div>
</div>
