<!-- 
  FIXME: 
  - Div with inline styles added for testing purpose. 
  - So while using grids component only attach classes like
      a) grid
      b) grid--1x2
      c) grid--1x3
-->

<!-- Two Column Grid -->
<div class="grid grid--1x2">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
  <div style="height: 100px; background: lightpink"></div>
</div>

<!-- Three Column Grid -->
<div class="grid grid--1x3">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
  <div style="height: 100px; background: lightpink"></div>
</div>

<!-- Two and Three Column Grid -->
<div class="grid grid--1x2 grid--1x3">
  <div style="height: 100px; background: gold"></div>
  <div style="height: 100px; background: dodgerblue"></div>
  <div style="height: 100px; background: lightpink"></div>
</div>
