<!-- Normal Icon -->
<span class="icon-container">
  <svg class="icon">
    <use href="./images/sprite.svg#computer"></use>
  </svg>
</span>

<!-- Small Icon -->
<span class="icon-container">
  <svg class="icon--small">
    <use href="./images/sprite.svg#computer"></use>
  </svg>
</span>

<!-- Primary Icon -->
<span class="icon-container">
  <svg class="icon icon--primary">
    <use href="./images/sprite.svg#settings"></use>
  </svg>
</span>

<!-- White Icon + Accent Color Container -->
<span class="icon-container icon-container--accent">
  <svg class="icon icon--white">
    <use href="./images/sprite.svg#quotes"></use>
  </svg>
</span>
