<!-- 
  FIXME: 
  - Container around testimonoial-card is added for testing purpose. 
  - We don't use such inline styles in production. 
  - So contreate card-container and apply css using extral stylesheets
-->

<section style="padding: 5rem">
	<div class="card testimonial">
		<div class="grid grid--1x2">
			<div class="testimonial__image">
				<img src="./images/testimonial.jpg" alt="A happy, smiling customer" />
				<span class="icon-container icon-container--accent">
					<svg class="icon--small icon--white">
						<use href="./images/sprite.svg#quotes"></use>
					</svg>
				</span>
			</div>

			<blockquote class="quote">
				<p class="quote__text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis nisi
					temporibus culpa ratione vel! Ducimus maxime aliquam deserunt
					praesentium eius.
				</p>
				<footer>
					<div class="media">
						<div class="media__image">
							<svg class="icon icon--primary quote__line">
								<use href="./images/sprite.svg#line"></use>
							</svg>
						</div>
						<div class="media__body">
							<h3 class="media__title quote__author">Name</h3>
							<p class="quote__organization">Company Name</p>
						</div>
					</div>
				</footer>
			</blockquote>
		</div>
	</div>
</section>
